
	<%= render template: 'shared/slider' %>
	
	<section>
		<div class="container">
			<div class="row">
				
				<%=render template: 'shared/aside-nav' %>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--liked food-->
						<h2 class="title text-center">Recommend Foods</h2>
						<% @recommend_products.each do |pro| %> 
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag pro.image_link %>
												<h2>$<%= pro.price %></h2>
												<p><%= pro.nameProduct %></p>
												
											</div>

											<div class="product-overlay">
												<div class="overlay-content">
													<h2>$<%= pro.price %></h2>
													<p><%= pro.nameProduct %></p>
													<%= link_to pro , class: "btn btn-default cart" do %>
														<i class="fa fa-info"></i> Detail
													<% end %>
                                                    <%= link_to line_items_path(:id => pro), :method => :post, class: "btn btn-default cart" do %>
														<i class="fa fa-shopping-cart"></i> Add to cart
													<% end %>
												</div>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li>
												<%= link_to like_product_path(pro), method: :put do %>
													<i class="fa fa-heart"></i> 
													<%= pro.get_upvotes.size %>
												<% end %>
											</li>
											<li>
												<%= link_to dislike_product_path(pro), method: :put do %>
													<i class="fa fa-thumbs-down"></i> 
													<%= pro.get_downvotes.size %>
												<% end %>
											</li>

											<!-- <li>
												<%= link_to like_product_path(pro), method: :put do %>
													<i class="fa fa-comment"></i> 
													<%= pro.get_upvotes.size %>
												<% end %>
											</li> -->
											
										</ul>
										<ul>
											<li><a href=""><i class=" fa fa-location-arrow"></i><%=  pro.address.first(25) %></a></li>
										</ul>
									</div>
									
								</div>
							</div>
						<% end %>
						
						
					</div><!--liked food-->


					<div class="col-md-12 ">
					<div class="features_items"><!--latest-->
						<h2 class="title text-center">Latest Foods</h2>
						<% @products.each do |pro| %> 
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag pro.image_link %>
												<h2>$<%= pro.price %></h2>
												<p><%= pro.nameProduct %></p>
												<%= link_to pro, class: "btn btn-default add-to-cart" do %>
														<i class="fa fa-shopping-cart"></i>Add to cart
													<% end %>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>$<%= pro.price %></h2>
													<p><%= pro.nameProduct %></p>
													<%= link_to pro, class: "btn btn-default add-to-cart" do %>
														<i class="fa fa-shopping-cart"></i>Add to cart
													<% end %>
												</div>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li>
												<%= link_to like_product_path(pro), method: :put do %>
													<i class="fa fa-heart"></i> 
													<%= pro.get_upvotes.size %>
												<% end %>
											</li>
											<li>
												<%= link_to dislike_product_path(pro), method: :put do %>
													<i class="fa fa-thumbs-down"></i> 
													<%= pro.get_downvotes.size %>
												<% end %>
											</li>

											<!-- <li>
												<%= link_to like_product_path(pro), method: :put do %>
													<i class="fa fa-comment"></i> 
													<%= pro.get_upvotes.size %>
												<% end %>
											</li> -->
											
										</ul>
										<ul>
											<li><a href=""><i class=" fa fa-location-arrow"></i><%=  pro.address.first(25) %></a></li>
										</ul>
									</div>
								</div>
							</div>
						<% end %>
						
						
					</div><!--latest-->


					
				
					<!--sale food-->
					<!-- <div class="recommended_items">
						<h2 class="title text-center">Sale foods</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div> -->
					<!--/sale food-->
					
				</div>
			</div>
		</div>
	</section>
